/*csslint ids: false, universal-selector: false, box-model: false, box-sizing: false*/

h1 {
    font-size: 100px;
    padding-bottom: 330px;
    padding-top: 200px;
    text-align: center;
}

img {
    height: 90px;
    width: 90px;
}

body {
    background-image: url('../img/game-of-google-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    padding-bottom: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

#left {
    float: left;
    padding-left: 145px;
}

#right {
    float: right;
    padding-right: 200px;
}

#one {
    height: 500px;
    padding: 40px;
    width: 500px;
}

#two {
    height: 500px;
    padding: 40px;
    width: 500px;
}

#three {
    height: 500px;
    padding: 40px;
    width: 500px;
}

#four {
    height: 500px;
    padding: 40px;
    width: 500px;
}

h3 {
    font-size: 25px;
    text-align: center;
    
}

li {
    font-size: 30px;
    text-align: center;
}

#cap {
    height: 20px;
    width: 20px;
}

#fetty {
display: block;
}

#wap {
    height: 70px;
    margin-bottom: 3%;
    margin-left: 46%;
    margin-top: 3%;
    width: 70px;
}

footer.page-footer{
 background-image: url('../img/url.jpg');
}

#aa {
color: white;
}

#contact_form {
    text-align: center;
}

#gen {
    font-size: 50px;
    text-align: center;
}

#genr {
    font-size: 50px;
    padding: 50px;
    text-align: center;
}

.contact {
    text-align: center;
}

label {
color: white;
    font-size: 19px;
}

video {
display: block;
    height: 600px;
    margin: auto;
    width: 600px;
}
    


